# This is a template for the `.env` file that is used as part of local development.
# You can copy this file, rename it to `.env` and fill in the missing values,
# then delete this header.
###############################################################################

# This file should contain all the secrets required by *development* (local) application.
# This file is ignored by git by default to avoid accidentally exposing secrets in your repository.

SECRET_KEY='django-insecure-0D1797YLOwEagqRBYEjb4vX0w9RvyM0pHIiQ3Bkq'
# host should be "localhost" for native development or "db" for docker-based development
DATABASE_URL='postgresql://postgres:postgres@db:5432/upwork_test'
# host should be "localhost" for native development or "redis" for docker-based development
REDIS_URL='redis://redis:6379'

GOOGLE_ANALYTICS_ID=''
SENTRY_DSN=''

SIMPLE_JWT_SIGNING_KEY='django-insecure-seX5YySIbcrFBP93npfix1KQKX4UIElUsGkQ78rouW7Gt7k0tBJUiGBRglD3'
CORS_ALLOWED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"

# Social login credentials go here

GOOGLE_CLIENT_ID=""
GOOGLE_SECRET_ID=""

# turnstile setup - add your keys here to enable turnstile
TURNSTILE_KEY=""
TURNSTILE_SECRET=""

# You can uncomment these settings to use a different email backend in settings.py.
# Depending on your selected backend, you will probably need to add additional settings / environment variables

# DEFAULT_FROM_EMAIL="wpeter@vt.edu"
# SERVER_EMAIL="noreply@localhost:8000"

# EMAIL_BACKEND="anymail.backends.mailgun.EmailBackend"
# MAILGUN_API_KEY="key-***"
# MAILGUN_SENDER_DOMAIN="example.com"
