SECRET_KEY='django-insecure-0D1797YLOwEagqRBYEjb4vX0w9RvyM0pHIiQ3Bkq'
# host should be "localhost" for native development or "db" for docker-based development
DATABASE_URL='postgresql://postgres:postgres@db:5432/upwork_test'
# host should be "localhost" for native development or "redis" for docker-based development
REDIS_URL='redis://redis:6379'

GOOGLE_ANALYTICS_ID=''
SENTRY_DSN=''

# turnstile setup - add your keys here to enable turnstile
TURNSTILE_KEY=""
TURNSTILE_SECRET=""

# You can uncomment these settings to use a different email backend in settings.py.
# Depending on your selected backend, you will probably need to add additional settings / environment variables

# DEFAULT_FROM_EMAIL="wpeter@vt.edu"
# SERVER_EMAIL="noreply@localhost:8000"

# EMAIL_BACKEND="anymail.backends.mailgun.EmailBackend"
# MAILGUN_API_KEY="key-***"
# MAILGUN_SENDER_DOMAIN="example.com"
